[Unit]
Description=ped daemon
Requires=ped.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/ali/ped
ExecStart=/home/ali/ped/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/ped.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target